.DS_Store
__pycache__
gitignore/
papers/
untracked/
adm/
tziv/
prednasky/
os/
*iml
.idea/
*.docx
*.xlsx
.venv/
venv/
.env
cmake-build-debug/
cachedir/
*.pptx
env/
logs/
*.log
NUMBERS_10M.txt
NAMES_10M.txt
out/
target/
build/
*.jar
*.class
dependency-reduced-pom.xml
